@import 'bootstrap/dist/css/bootstrap.min.css';
.nav{
 scroll-behavior:smooth;
 padding: 1rem;
 font-size: 1.3rem;
}
.nav a{
 color: white;
}

@media screen and (max-width:48rem) {
 .nav{
  display: flex!important;
  flex-direction: row;
  gap: 10px;
  z-index: 100;
  justify-content: center!important;
 }
 a{
  color: black!important;
 padding: .8rem;
 cursor: pointer;

 }
 a:hover{
  background-color: black;
  color: white!important;
  border-radius: .85rem;
 }
 
}
