@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
.root{
 width: 100vw;
 height: 100vh;
}
section{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: auto;
 gap: 1rem;
 color: white;

}

input{
 padding: 5.5px 195px;
 transition: 2s all;
 position: relative;
 
}

input::placeholder{
 min-width: max-content;
}
.search-input{
 gap: 10px;
 background-color: #15132b;
 padding: 1rem;
}
.wrapper{
 background-color: #15132b;
 width: 100%;
 min-height: 300px;
 padding: 2rem;
 gap: 5rem;
}
.components{
 width: 100%;
  justify-content: space-between;
}

@media screen and (max-width:48rem) {

 .root{
 }
  img{
   display: flex;
   justify-self: center;
   align-self: center;
  }
  input{ 
   padding: 5.5px 10px;

  }
  .search-input{
   width: 100vw;
   gap: 15px;
  }
  .wrapper{
   width: 100vw;
  }
}
