<div class="user d-flex flex-column gap-4 mt-4 shadow p-4 rounded">
 <form class="search-input d-flex flex-lg-row flex-column rounded justify-content-between gap-2">
  <input   type="text"  placeholder="Search Github Username..." [(ngModel)] = "username" name="username" >
  <button class="btn btn-primary px-5" (click) ='formSubmit()'>Send</button>
 </form>
 <section class="d-flex flex-lg-row flex-column gap-5">
  <img src="{{avatar}}" style="width:300px; height:300px" alt="">
  <div class="detail">
   <h3>{{name}}</h3>
   <q>No Bio yet</q>
   <h4>Followers: <span>{{followers}}</span></h4>
   <h4>Followings: <span>{{followings}}</span></h4>
   <h4>Repositories: <span>{{repos}}</span></h4>
   <button class="btn btn-success"><a href="{{githubLink}}" target="_blank">Link to Github</a></button>
  </div>
 </section>


</div>