@import 'bootstrap/dist/css/bootstrap.min.css';
.home{
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 2rem;
  width: fit-content;
}
a{
 color: white;
 font-size: 1.3rem;
 text-decoration: none;
}
a:hover{
 color: white;
}
img{
 filter: brightness(150%);
}
.myimage{
 box-shadow: 16px -9px 2px 0px #202A3C;
-webkit-box-shadow: 16px -9px 2px 0px #202A3C;
-moz-box-shadow: 16px -9px 2px 0px #202A3C ;

}

@media screen and (max-width:48rem) {
 .home{
  width: 100%;
  margin: 0;
  
 }


}